body{
    background-color : white;

}


.RemoteControl {
    width: 3em;
    height: 3em;
    background-color: aqua;
    display: inline-grid;
    grid-template-columns: repeat(3,auto);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    text-align: center;
    font-size: 3em;
}

    .RC_Bt{

        font-size: 30pt;
        background-color: #070707;
        color: #16f30e;
    }